@font-face {
  font-family: 'Museo Sans 300 Light';
  src: url("../fonts/Museo Sans/MuseoSansCyrl-300.eot");
  src: url("../fonts/Museo Sans/MuseoSansCyrl-300.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans/MuseoSansCyrl-300.woff") format("woff"), url("../fonts/Museo Sans/MuseoSansCyrl-300.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans 500 Medium';
  src: url("../fonts/Museo Sans/MuseoSansCyrl-500.eot");
  src: url("../fonts/Museo Sans/MuseoSansCyrl-500.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans/MuseoSansCyrl-500.woff") format("woff"), url("../fonts/Museo Sans/MuseoSansCyrl-500.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'Museo Sans 700 Bold';
  src: url("../fonts/Museo Sans/MuseoSansCyrl-700.eot");
  src: url("../fonts/Museo Sans/MuseoSansCyrl-700.eot?#iefix") format("embedded-opentype"), url("../fonts/Museo Sans/MuseoSansCyrl-700.woff") format("woff"), url("../fonts/Museo Sans/MuseoSansCyrl-700.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none; }

.container {
  max-width: 1171px;
  width: 95%;
  margin-left: auto;
  margin-right: auto; }

@media screen and (max-width: 320px) {
  .container {
    max-width: 277px;
    min-width: 270px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 375px) and (min-width: 321px) {
  .container {
    max-width: 332px;
    margin-left: auto;
    margin-right: auto; } }

@media screen and (max-width: 425px) and (min-width: 376px) {
  .container {
    max-width: 382px;
    margin-left: auto;
    margin-right: auto; } }

.title {
  font-family: 'Museo Sans 700 Bold';
  font-weight: 900;
  margin: 0;
  font-size: 18px;
  text-align: center; }

.subtitle {
  font-family: 'Museo Sans 300 Light';
  font-weight: 300;
  margin: 0;
  font-size: 14px;
  text-align: center; }

.btn {
  color: #333;
  border-radius: 10px;
  background-color: #ffd200; }

.input {
  display: block;
  box-sizing: border-box;
  background-color: #fff;
  border: 1px solid #dddddd;
  border-radius: 10px;
  padding: 26px 0 26px 23px;
  font-family: 'Museo Sans 300 Light';
  font-weight: 300; }
  .input::placeholder {
    color: #999;
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    line-height: 24px;
    font-size: 15px; }
  .input:focus {
    outline: none;
    border: 1px solid #ffc000; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 17px;
  padding-bottom: 17px; }
  .navbar__logo_img {
    width: 90px; }
  .navbar__contact {
    display: flex;
    flex-direction: row; }
  .navbar__info {
    display: flex;
    flex-direction: column;
    color: #333;
    text-align: right; }
  @media screen and (max-width: 456px) {
    .navbar .navbar__info {
      display: none; } }
  .navbar__adress {
    font-size: 13px;
    font-family: 'Museo Sans 300 Light';
    font-weight: 300; }
  .navbar__tel {
    color: #333;
    font-size: 20px;
    font-family: 'Museo Sans 700 Bold';
    font-weight: 900; }
    .navbar__tel:hover {
      cursor: pointer; }
  .navbar__callme {
    color: #333;
    border-radius: 10px;
    background-color: #ffd200;
    padding: 15px 26px;
    font-size: 10px;
    color: #333;
    margin-left: 30px;
    font-family: 'Museo Sans 700 Bold';
    font-weight: 900; }
    .navbar__callme:hover {
      cursor: pointer; }

@media screen and (min-width: 768px) {
  .navbar__logo_img {
    width: 155px; }
  .navbar__callme {
    font-size: 13px;
    width: 170px;
    height: 49px; }
  .navbar {
    padding-top: 7px;
    padding-bottom: 7px; } }

.main {
  background-color: #f5f5f5;
  padding-top: 46px;
  padding-bottom: 52px; }
  .main__title {
    padding-bottom: 13px;
    font-size: 24px;
    color: #333;
    margin: 0;
    text-align: left;
    font-family: 'Museo Sans 700 Bold';
    font-weight: 900; }
  .main__subtitle {
    font-size: 16px;
    padding-bottom: 28px;
    margin: 0;
    text-align: left;
    font-family: 'Museo Sans 500 Medium';
    font-weight: 700; }

.advantages {
  display: flex;
  flex-direction: column; }
  .advantages__items {
    display: flex;
    align-items: center; }
  .advantages > div:not(:last-child) {
    margin-bottom: 20px; }
  .advantages__img {
    width: 40px;
    height: 40px;
    position: relative; }
  .advantages__item {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 25%;
    top: 25%; }
  .advantages__span {
    margin-left: 15px;
    font-family: 'Museo Sans 500 Medium';
    font-weight: 700;
    font-size: 12px; }

.main__img {
  flex-basis: 40%;
  flex-grow: 1; }

@media screen and (max-width: 769px) and (min-width: 426px) {
  .main__img_image {
    width: 350px;
    height: 350px; } }

@media screen and (min-width: 769px) {
  .main {
    padding-top: 50px;
    padding-bottom: 52px; }
  .main__flex-wrap {
    display: flex; }
  .main__flex-item-left {
    padding-right: 10%;
    margin-top: auto;
    margin-bottom: auto;
    flex-basis: 40%; }
  .main__img_image {
    width: 100%;
    height: 100%; }
  .main__title {
    font-size: 40px;
    line-height: 55px;
    padding-bottom: 45px; }
  .main__subtitle {
    font-size: 20px;
    padding-bottom: 70px; }
  .advantages__span {
    font-size: 14px; } }

@media screen and (max-width: 1058) and (min-width: 770px) {
  .main__title {
    font-size: 35px;
    line-height: 50px;
    padding-bottom: 35px; } }

@media screen and (max-width: 1093px) {
  .main__flex-item-left {
    padding-right: 5%; } }

@media screen and (max-width: 1171px) {
  .main__flex-item-left {
    padding-right: 7%; }
  .main__img_image {
    width: 100%;
    height: 100%; } }

.offer {
  padding-top: 53px;
  padding-bottom: 56px;
  background: url(../img/offer/bgi.jpg) no-repeat;
  background-size: cover;
  height: 100%;
  background-position: center right;
  position: relative; }
  .offer::before {
    content: '';
    width: 50%;
    height: 100%;
    position: absolute;
    background-position: center left;
    background-color: #fff;
    top: 0;
    left: 0; }
  .offer__block {
    position: relative; }
  .offer__container {
    width: 40%; }
  .offer__header {
    width: 60%; }
  .offer__form {
    width: 100%; }
  .offer__btn {
    padding: 0;
    border: none;
    padding-top: 27px;
    padding-bottom: 27px;
    width: 100%;
    font-size: 16px;
    font-family: 'Museo Sans 500 Medium';
    font-weight: 700; }
    .offer__btn:hover {
      cursor: pointer; }
  .offer__input {
    display: inline-block;
    margin-bottom: 10px;
    width: 48%; }
    .offer__input:nth-child(1) {
      margin-right: 10px; }
  .offer__title {
    font-family: 'Museo Sans 700 Bold';
    font-weight: 900;
    margin: 0;
    font-size: 18px;
    text-align: center;
    padding-bottom: 20px;
    text-align: left; }
  .offer__subtitle {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    margin: 0;
    font-size: 14px;
    text-align: center;
    padding-bottom: 27px;
    text-align: left; }
  .offer__footer {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
    flex-wrap: wrap; }
  .offer__incall {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    font-size: 15px;
    flex-basis: 47%;
    padding-right: 10px;
    margin-bottom: 10px; }
  .offer__outcall {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    font-size: 15px;
    flex-basis: 50%; }
  .offer__tel {
    display: block;
    color: #333;
    font-size: 15px;
    font-family: 'Museo Sans 700 Bold';
    font-weight: 900; }
    .offer__tel:hover {
      cursor: pointer; }

@media screen and (max-width: 768px) {
  .offer {
    background: #fff; }
  .offer__container {
    width: 100%; } }

@media screen and (max-width: 919px) and (min-width: 769px) {
  .offer__container {
    width: 47%; }
  .offer__header {
    width: 80%; } }

@media screen and (max-width: 782px) {
  .offer__header {
    width: 100%; }
  .offer__input {
    display: block;
    width: 100%; } }

@media screen and (max-width: 768px) and (min-width: 426px) {
  .offer__incall {
    flex-basis: 45%; }
  .offer__outcall {
    flex-basis: 45%; } }

@media screen and (max-width: 425px) {
  .offer__incall {
    flex-basis: 100%; }
  .offer__outcall {
    flex-basis: 100%; } }

.portfolio {
  background-color: #f5f5f5;
  padding-top: 43px;
  padding-bottom: 64px; }
  .portfolio__title {
    margin-bottom: 40px;
    max-width: 786px;
    margin: auto; }

.slider__arrows {
  display: flex;
  margin: auto;
  margin-top: 46px;
  max-width: 120px;
  justify-content: space-between; }

.left-arrow:hover, .right-arrow:hover {
  cursor: pointer; }

.slider__img {
  margin: auto; }

@media screen and (min-width: 426px) {
  .portfolio {
    background: #f5f5f5 url("../img/portfolio/bg.jpg") repeat-y top left;
    background-size: 50%; } }

@media screen and (max-width: 425px) {
  .portfolio__title {
    font-size: 23px;
    margin-bottom: 60px; } }

@media screen and (min-width: 426px) {
  .portfolio__title {
    font-size: 30px;
    margin-bottom: 100px; } }

.prices {
  padding-top: 52px;
  margin-bottom: 55px; }
  .prices__title {
    margin: auto;
    margin-bottom: 27px;
    max-width: 515px; }
  .prices__subtitle {
    margin-bottom: 60px; }
  .prices__card {
    margin-bottom: 30px; }

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  overflow: hidden;
  transition: 0.2s; }
  .card:hover {
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1); }
    .card:hover .card__image-wrap:before {
      opacity: 1; }
  .card__img {
    object-fit: cover;
    width: 100%;
    max-height: 260px;
    display: block; }
  .card__image-wrap {
    position: relative; }
    .card__image-wrap::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to top, #ffd200 0%, rgba(255, 255, 255, 0) 100%);
      opacity: 0; }
  .card__footer {
    margin: 30px auto; }
  .card__subtitle {
    margin-bottom: 15px;
    color: #333;
    font-size: 18px; }
  .card__more {
    display: block;
    text-align: center;
    font-family: 'Museo Sans 500 Medium';
    font-weight: 700;
    font-size: 16px;
    color: #333;
    max-width: 112px;
    margin: auto;
    position: relative; }
    .card__more:hover::after {
      height: 13px; }
    .card__more::after {
      content: '';
      position: absolute;
      z-index: -1;
      display: block;
      bottom: -4px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #ffd200; }

@media screen and (min-width: 620px) {
  .prices {
    padding-top: 100px;
    margin-bottom: 162px; }
    .prices__title {
      font-size: 30px;
      margin-bottom: 58px; }
    .prices__subtitle {
      font-size: 20px; } }

@media screen and (max-width: 1200px) and (min-width: 621px) {
  .card {
    flex-basis: 48%; } }

@media screen and (max-width: 620px) {
  .card {
    flex-basis: 100%; } }

.steps__header {
  margin-bottom: 34px; }

.steps__title {
  margin: 0 auto;
  margin-bottom: 27px;
  max-width: 650px; }

.items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

.steps__item {
  margin: 0 auto;
  margin-bottom: 30px; }

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .item__wrap {
    width: 146px; }
  .item__img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto; }
  .item__footer {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    text-align: center;
    font-size: 12px;
    color: #000;
    display: block;
    margin: 0 auto;
    margin-top: 25px; }

.steps__items {
  margin-bottom: 75px; }

@media screen and (max-width: 425px) {
  .item {
    flex-direction: column;
    flex-basis: 100%; }
    .item__wrap {
      margin-left: auto;
      margin-right: auto; } }

@media screen and (min-width: 1024px) {
  .steps__header {
    margin-bottom: 60px; }
  .steps__title {
    font-size: 30px;
    margin-bottom: 60px; }
  .steps__subtitle {
    font-size: 20px; } }

.banner {
  background-color: #ffc000;
  padding-top: 72px;
  padding-bottom: 76px; }
  .banner__title {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300; }

@media screen and (max-width: 1023px) and (min-width: 426px) {
  .banner__title {
    font-size: 25px; } }

@media screen and (min-width: 1024px) {
  .banner__title {
    font-size: 32px; }
  .banner {
    padding-top: 100px;
    padding-bottom: 100px; } }

.help {
  margin-top: 60px;
  margin-bottom: 77px; }
  .help__img {
    display: block;
    margin: 0 auto;
    margin-bottom: 30px;
    width: 370px; }
  .help__block {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; }

@media screen and (max-width: 880px) {
  .help__wrap {
    flex-basis: 100%; } }

@media screen and (max-width: 1200px) {
  .help__img {
    width: 270px; } }

@media screen and (min-width: 1201px) {
  .help {
    margin-top: 100px;
    margin-bottom: 143px; } }

.contracts {
  margin-bottom: 90px; }
  .contracts__title {
    max-width: 642px;
    margin: 0 auto;
    margin-bottom: 50px; }
  .contracts__wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
  .contracts__item {
    margin-left: auto;
    margin-right: auto; }
  .contracts__img {
    border: 20px solid #f5f5f5;
    margin-bottom: 30px;
    width: 230px;
    height: 310px; }
  .contracts__footer p {
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    font-size: 14px;
    font-weight: 600;
    color: #000;
    text-align: center;
    max-width: 270px; }

@media screen and (max-width: 875px) {
  .contracts__item {
    flex-basis: 50%; }
  .contracts__img {
    margin-left: auto;
    margin-right: auto; }
  .contracts__footer p {
    margin-left: auto;
    margin-right: auto; } }

@media screen and (min-width: 876px) {
  .contracts {
    margin-bottom: 228px; }
    .contracts__title {
      font-size: 30px;
      margin-bottom: 10px; }
    .contracts__footer p {
      font-size: 18px; } }

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .contracts {
    margin-bottom: 130px; }
    .contracts__title {
      font-size: 23px; } }

.brif {
  padding-top: 46px;
  padding-bottom: 35px;
  background: url("../img/brif/brif__bgc.jpg"), url("../img/brif/brif__img.jpg");
  background-position: left center, right center;
  background-size: 50%, contain;
  background-repeat: repeat-y, no-repeat; }
  .brif__wrap {
    display: flex; }
  .brif__interview {
    padding-right: 70px; }
  .brif__title {
    max-width: 515px;
    width: 100%;
    margin-bottom: 50px;
    font-size: 22px;
    text-align: left; }
  .brif__subtitle {
    font-size: 16px;
    text-align: left;
    margin-bottom: 95px; }
  .brif__list {
    display: flex;
    flex-direction: column;
    padding: 0;
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    font-weight: 700; }
  .brif__item {
    display: flex;
    align-items: center; }
  .brif__item:not(:last-child) {
    margin-bottom: 25px; }
  .brif__counter {
    width: 35px;
    height: 35px;
    border: 2px solid #333;
    line-height: 35px;
    text-align: center;
    border-radius: 50%; }
  .brif__text {
    max-width: 379px;
    margin-left: 32px;
    width: 100%; }
  .brif__form {
    padding-left: 213px; }
  .brif__input-name {
    margin-bottom: 15px;
    height: 35px;
    width: 100%; }
    .brif__input-name:focus {
      border: 1px solid #ffc000; }
  .brif__input-tel {
    margin-bottom: 30px;
    height: 35px;
    width: 100%; }
    .brif__input-tel:focus {
      border: 1px solid #ffc000; }
  .brif__btn {
    color: #333;
    border-radius: 10px;
    background-color: #ffd200;
    border: none;
    height: 70px;
    width: 100%;
    font-family: 'Museo Sans 500 Medium';
    font-weight: 700;
    font-size: 16px; }
    .brif__btn:focus {
      outline: none; }
  .brif .form__title {
    margin-bottom: 52px; }
  .brif .form__subtitle {
    margin-bottom: 50px; }
  .brif .form__underform {
    display: block;
    margin-top: 33px;
    font-family: 'Museo Sans 300 Light';
    font-weight: 300;
    font-size: 15px;
    text-align: center; }

@media screen and (max-width: 425px) {
  .brif {
    padding-top: 46px;
    padding-bottom: 34px;
    background-position: center top, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat; }
    .brif__wrap {
      flex-direction: column; }
    .brif__interview {
      flex-basis: 100%;
      padding-right: 0;
      padding-bottom: 68px; }
    .brif__form {
      padding-left: 0; }
    .brif__title {
      font-size: 18px;
      margin-bottom: 16px; }
    .brif__subtitle {
      font-size: 14px;
      margin-bottom: 39px; }
    .brif__list {
      font-size: 14px;
      margin-bottom: 0; }
    .brif__text {
      margin-left: 8px; }
    .brif__input-name {
      margin-bottom: 8px; }
    .brif__input-tel {
      margin-bottom: 10px; }
  .form {
    padding-top: 60px; }
    .form__title {
      width: 100%;
      font-size: 18px;
      margin-bottom: 27px; }
    .form__subtitle {
      width: 100%;
      font-size: 14px;
      margin-bottom: 34px; }
    .form__underform {
      width: 150px;
      margin: auto;
      margin-top: 31px; } }

@media screen and (max-width: 768px) {
  .brif {
    padding-top: 46px;
    padding-bottom: 34px;
    background-position: center top, center bottom;
    background-size: 100% 50%, cover;
    background-repeat: repeat-x, no-repeat; }
    .brif__wrap {
      flex-direction: column; }
    .brif__interview {
      flex-basis: 100%;
      padding-right: 0;
      padding-bottom: 68px;
      margin-left: auto;
      margin-right: auto; }
    .brif__form {
      padding-left: 0; }
    .brif__title {
      text-align: center;
      font-size: 18px;
      margin-bottom: 16px; }
    .brif__subtitle {
      text-align: center;
      font-size: 14px;
      margin-bottom: 39px; }
  .form {
    padding-top: 60px; }
    .form__title {
      width: 100%;
      font-size: 18px;
      margin-bottom: 17px; }
    .form__subtitle {
      width: 100%;
      font-size: 14px;
      margin-bottom: 34px; }
    .form__underform {
      margin: auto;
      margin-top: 31px; } }

@media screen and (max-width: 1024px) and (min-width: 769px) {
  .brif__form {
    padding-left: 100px; }
  .brif__interview {
    padding-right: 50px; }
  .brif__text {
    margin-left: 15px; }
  .brif__subtitle {
    margin-bottom: 45px; } }
