.steps__header
    margin-bottom: 34px
.steps__title
    margin-bottom: 27px
.items
    display: flex
    justify-content: space-between
.item
    display: flex
    flex-direction: column
    width: 180px
    &__footer
        margin-top: 25px